/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.root {
	/*-fx-background-color: linear-gradient(from 0px 0px to 300px 400px, #3895da, #8a47b0);*/
	-fx-background-image: url('../images/lake-blurry2.jpg');
	-fx-background-repeat: no-repeat;
	-fx-background-size: cover;
}

VBox {
	-fx-background-color: #fff;
	-fx-background-radius: 5px;
	-fx-effect: dropshadow(three-pass-box, derive(#444, -0%), 10, 0, 0, 5);
}


#textfieldSection {
	-fx-background-color: red;
}

.heading-label {
	-fx-font-size: 33px;
	-fx-text-alignment: center;
}

.text-input {
	-fx-background-color: transparent;
	-fx-border-color: #444;
	-fx-border-width: 0 0 2px 0;
	-fx-font-size: 15px;
}

.error-label {
	-fx-text-fill: #f74545;
}


.login-button {
	-fx-background-color: linear-gradient(from 0px 0px to 100px 100px, #3895da, #8a47b0);	
	-fx-border: none;
	-fx-text-fill: white;
	-fx-font-size: 20px;
}

.login-button:hover {
	-fx-background-color: linear-gradient(from 0px 0px to 100px 100px, #8a47b0, #3895da);
}

.signup-label {
	-fx-text-fill: #8a47b0;
}

.close-button {
	-fx-background-image: url('../images/cancel-red.png');
}

