.root {
	/*-fx-background: #333945;*/
}

.tab {
	-fx-border-color: transparent;
	-fx-border-width: 0;
	-fx-text-fill: #fff;
}

.tab-label {
	-fx-text-fill: #45CE30;
	-fx-border-color: transparent;
	-fx-background-color: transparent;
}

.tab .headers-region {
	-fx-background-color: transparent;
}


.button {
	-fx-border: none;
	-fx-background-radius: 0;
	-fx-background-insets: 0;
	-fx-text-fill: #fff;
	-fx-font-weight: bold;
}

#storeButton {
	-fx-background-color: #2ecc72;
}

#storeButton:hover {
	-fx-background-color: #0caa52;
}

#cancelButton {
	-fx-background-color: #E44236;
}

#cancelButton:hover {
	-fx-background-color: #c22014;
}

#buttonDelete {
	-fx-background-color: #AE1438;
}

#buttonUpdate {
	-fx-background-color: #FFF222;
}

#showContacts {
	-fx-background-color: #444;
	-fx-border: 1px;
}

#showContacts:hover {
	-fx-border-color: #fff;
	-fx-border: 1px;
}

#textfieldSection {
	-fx-background-color: black;
}